https://www.labnol.org/internet/free-file-hosting-github/29092/
For instance, if the file URL is github.com/labnol/files/hello.pdf, the direct link to the same file would be github.com/labnol/files/hello.pdf?raw=true. 
