/* FILTROS CON CSS DEMO*/
#filterdemo {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#filterdemo img {
    filter: grayscale(100%);
    margin: 0 auto;
    transition: filter 1s ease 0s;
}
#filterdemo img:hover {
    filter: grayscale(0%);
}
#filterdemo img + span {
    filter: blur(20px);
    font-size: 48px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 14px;
    transition: filter 1s ease 0s;
    width: 100%;
}
#filterdemo img:hover + span {
    filter: blur(0);
}
